/* Author: Tony Ledoux R0982634 */
@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
    --primary-color: #66d668;
    --secondary-color: #8ee190;
    --tertiary-color: #2fb032;
    --primary-background-color: #f5f5f5;
    --secondary-background-color: #e5e5e5;
    --font-header: "Margarine", sans-serif;
    --font-body: "Nunito", sans-serif;
}

html {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: "Margarine", sans-serif;
}
body {
    background-color: var(--primary-background-color);
    font-family: var(--font-body);
}

.navbar {
    /* background-image: url('../assets/header.min.svg');
   background-size: contain;
   background-repeat: repeat-x; */
    background-color: transparent;
}

.navbar-scrolled {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.navbar .active {
    text-decoration: underline;
    font-family: var(--font-header);
}
.navbar-brand span {
    font-family: var(--font-header);
    font-style: italic;
    font-weight: 200;
    color: black;
}

footer {
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    right: 0;
    padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: var(--font-header);
    font-style: italic;
    text-decoration: underline;
    color: var(--tertiary-color);
}

section {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 1rem 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section:nth-child(odd) {
    background-color: var(--primary-background-color);
}
section:nth-child(odd) {
    background-color: var(--secondary-background-color);
}
section:nth-child(2) {
    background-image: url("../assets/backdrop.webp");
}
section:nth-child(3) {
    background-image: url("../assets/backdrop2.webp");
}
section:nth-child(4) {
    background-image: url("../assets/backdrop3.webp");
}
section:nth-child(5) {
    background-image: url("../assets/backdrop4.webp");
}
section:first-child,
section:last-child {
    background-image: url("../assets/backdrop2.webp");
}

/* Welcome Section */

#WelcomeCarousel {
    width: 85%;
    height: 85%;
    margin: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 200;
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.carousel-indicators .active {
    background-color: var(--primary-color);
}

.carousel-indicators [data-bs-target]:hover,
.carousel-indicators [data-bs-target]:focus {
    background-color: var(--primary-color);
    outline: none;
}

.carousel-control-prev,
.carousel-control-prev:focus,
.carousel-control-next,
.carousel-control-next:focus {
    color: var(--tertiary-color);
    opacity: 1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.5);
}

.glass-pane {
    min-width: 50%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 10px var(--tertiary-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid var(--tertiary-color);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
}

/* Services Section */

#Services .card img {
    height: 12rem;
    object-fit: cover;
}

#Services h3 {
    text-align: center;
    font-family: var(--font-header);
    font-style: normal;
    font-weight: 200;
    color: var(--tertiary-color);
    text-decoration: none;
}

/* Products Section */

#ProductAccordion h2 {
    text-decoration: none;
}

#collapseOTC .tab-content {
    background-color: transparent;
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 3px 2px 5px var(--tertiary-color);
}

#collapseOTC .nav {
    background-color: transparent;
    border: none;
}
#collapseOTC .nav-tabs {
    background-color: transparent;
}

#collapseOTC .nav-tabs .nav-link {
    background-color: transparent;
    color: var(--primary-color);
    border: solid 3px var(--primary-color);
    border-bottom: none;
}

#collapseOTC .nav-tabs .nav-link:hover {
    border: solid 3px var(--primary-color);
    border-bottom: none;
    box-shadow: 3px -2px 5px var(--tertiary-color);
}

#collapseOTC .nav-tabs .active {
    border: solid 3px var(--primary-color);
    color: whitesmoke;
    border-bottom: none;
    text-decoration: underline;
    font-weight: bold;
    background-color: var(--primary-color);
    box-shadow: 3px -2px 5px var(--tertiary-color);
}
#collapseOTC .nav-tabs .active:hover {
    box-shadow: inset 3px -2px 5px var(--tertiary-color);
}
.icon-link i {
    text-decoration: none !important;
    color: inherit;
}
.icon-link {
    text-decoration: none;
}

.icon-link-hover:hover i {
    transform: translate3d(0, -0.25rem, 0);
}

/* about Section */

#About .card img {
    height: max-content;
    object-fit: cover;
}

#About .pagination {
    --bs-pagination-color: var(--primary-color);
    --bs-pagination-border-color: var(--primary-color);
    --bs-pagination-active-bg: var(--primary-color);
    --bs-pagination-active-border-color: var(--tertiary-color);
    --bs-pagination-hover-bg: var(--tertiary-color);
    --bs-pagination-hover-border-color: var(--tertiary-color);
    --bs-pagination-hover-color: var(--primary-color);
    --bs-pagination-focus-bg: var(--tertiary-color);
    --bs-pagination-focus-border-color: var(--tertiary-color);
    --bs-pagination-focus-color: whitesmoke;
    --bs-pagination-focus-box-shadow: 3px 2px 5px var(--tertiary-color);
}
#About .pagination-sm {
    --bs-pagination-border-radius: 10px;
}
.ribbon {
    position: absolute;
    background-color: red;
    right: 10px;
    top: 10px;
    z-index: 1;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 0.5rem;
    text-align: center;
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 3px 2px 5px var(--tertiary-color);
    transform: rotate(15deg);
}

#About .spinner-border {
    color: var(--primary-color);
}

/* Contact Section */

#Contact #message {
    height: 10rem;
    resize: none;
}

#Contact .form-control:focus {
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 3px 2px 5px var(--tertiary-color);
}

.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--tertiary-color);
    --bs-btn-hover-border-color: var(--tertiary-color);
    --bs-btn-focus-bg: var(--tertiary-color);
    --bs-btn-focus-border-color: var(--tertiary-color);
    --bs-btn-focus-shadow-rgb: 102, 214, 102;
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--secondary-color);
    --bs-btn-active-shadow: 3px 2px 5px var(--tertiary-color);
    --bs-btn-disabled-bg: var(--secondary-color);
    --bs-btn-disabled-border-color: var(--secondary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-secondary {
    --bs-btn-bg: var(--secondary-color);
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-bg: var(--tertiary-color);
    --bs-btn-hover-border-color: var(--tertiary-color);
    --bs-btn-focus-bg: var(--tertiary-color);
    --bs-btn-focus-border-color: var(--tertiary-color);
    --bs-btn-focus-shadow-rgb: 102, 214, 102;
    --bs-btn-active-bg: var(--primary-color);
    --bs-btn-active-color: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: 3px 2px 5px var(--tertiary-color);
    --bs-btn-disabled-bg: var(--secondary-background-color-color);
    --bs-btn-disabled-border-color: var(--secondary-background-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#message-counter {
    color: var(--tertiary-color);
    font-style: italic;
    font-weight: 200;
    font-size: 0.85rem;
}

#progress-bar {
    background-color: var(--primary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.success {
    background-color: var(--tertiary-color) !important;
    box-shadow: inset 2px 1px 5px var(--primary-color);
}

#controlBtn {
    float: right;
    clear: both;
}

#book_appointment_with_selected_consultant .btn-secondary {
    margin: 0.25rem;
    width: 10rem;
}

#consultants .form-check-input {
    /* background-color: var(--primary-color);*/
    border-color: var(--primary-color);
}

#consultants .form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-color: var(--tertiary-color);
    box-shadow: 3px 2px 5px var(--tertiary-color);
}

#book_appointment_with_selected_consultant .form-control {
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
#book_appointment_with_selected_consultant .form-control:focus {
   box-shadow: 3px 2px 5px var(--tertiary-color);
}

input[type="date"] {
    
    padding: 8px;
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
}


input[type="date"]:focus {
    box-shadow: 3px 2px 5px var(--tertiary-color);
    border: solid 6px var(--tertiary-color);
}

#team-cards-placeholder img {
    max-height: 350px;
    object-fit: cover;
    object-position: top;
}

.accordion-item {
    background-color: var(--primary-background-color);
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0; 
    box-shadow: 3px 2px 5px var(--tertiary-color);
}

.accordion-button {
    background-color: var(--primary-color);
    color: whitesmoke;
}
.accordion-button:not(.collapsed) {
    background-color: var(--tertiary-color);
    color: black;
}
.accordion-button:focus {
   border-color: var(--tertiary-color);
}

.form-select {
    border-color: var(--primary-color);
}
.form-select:focus {
    border-color: var(--tertiary-color);
    box-shadow: 3px 2px 5px var(--tertiary-color);
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.form-check-input:checked {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}